:root {
    /* Background colors */

    --main-background-gray1: #959595;
    --nav-background-gray: gray;


    /* Text colors */

    /* Shadow colors */

    --shadow-white: white;


    /* Font sizes */

    --main-size1-5: 1.5rem;

    /* Font Shadows */

    --text-shadow-black1: 1px 1px 2px black;

    /* Box shadow */

    --box-shadow-2px-black: 2px 2px 2px black;
}

body {
    background-color: var(--main-background-gray1);
    color: white;
    text-shadow: 1px 1px 1px #393b3a;
}

header {
    height: 60vh;
    position: relative;
    align-content: end;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-size: cover;

    .logoDiv {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        position:absolute;
        bottom: 50px;
        left: 50px;
        max-width: 31vh;
        text-shadow: var(--text-shadow-black1);
        font-size: var(--main-size1-5);
        align-items: start;


    }

    .logo   {
        grid-row: 1 / 2;
        height: 90px;
        background-image: url(/src/resorces/beef_n_resto_red.png);
        background-size: cover;
    }

    .headerText {
        transform: rotate(-9deg);
    }

}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 150px));
    justify-content: center;
    height: 6vh;
    width: 100%;
    background: var(--nav-background-gray);
    outline: none;

    .home {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .menu {
        grid-column: 2 / 3;
    }
}

nav > button {
    border: none;
    color: white;
    font-size: var(--main-size1-5);
    background: gray;
    text-shadow: var(--text-shadow-black1);
}

.sticky {
    position: fixed;
    top: 0;
    button {
        background: gray;
    }
}



#content {
    margin-top: 50px;
    justify-items: center;
}

[class$='Inner'] {
    background: grey;
    padding: 10px;


}


/* Home */

.mainOuter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.mainInner {
    grid-column: 2 / 3;
    margin: 20px;
    padding: 20px;


}






/* Menu styling */

.dishes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.menuOuter {
    display: grid;
    grid-template-columns: minmax(1px, 400px) minmax(100px, 200px) ;
}

.img {
    height: 180px;
    width: 200px;
    /*background-image: url(/src/resorces/beef\'n_resto_tilted.png);
    background-size: contain;*/

}

.menu-title {
    margin-bottom: 50px;
}




/* Contacts */
