#content {
    gap: 10px;
    margin-top: 20px;
    justify-items: center;

}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 80px));
    position: relative;
    top: 20px;

}

header {
    height: 500px;
    background-color: red;
    justify-items: center;
    align-content: end;
}

.text {

    width: 400px;
    justify-self: center;
    height: 1200px;
}
.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    grid-column: 2 / 3;
}
