header {
    height: 60vh;
    justify-items: center;
    align-content: end;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 150px));
    justify-content: center;
    margin-bottom: 50px;
    height: 6vh;
    width: 100%;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-size: cover;
    background-position: bottom;

}

nav > button {
    border: none;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-position: bottom;
    background-size: 400%;
    box-shadow: 1px 0 2px gray;
    color: white;
    font-size: 1.5rem;

}

.sticky {
    position: fixed;
    top: 0;
    background: gray;

    button {
        background: gray;
    }
}



#content {
    gap: 10px;
    margin-top: 20px;
    justify-items: center;

}




.text {

    width: 400px;
    justify-self: center;
    height: 1200px;
}
.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    grid-column: 2 / 3;
}
