#content {
    gap: 10px;
    margin-top: 20px;
    justify-items: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 80px));
}


.text {

    width: 400px;
    justify-self: center;
}
.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    grid-column: 2 / 3;
}
