:root {
    /* Background colors */
    --main-background-gray1: #959595;

    /* Text colors */

    /* Shadow colors */
    --shadow-white: white;

    /* Font sizes */

    --main-size1-5: 1.5rem;
}

body {
    background-color: var(--main-background-gray1);
    color: white;
}

header {
    height: 60vh;
    justify-items: center;
    align-content: end;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-size: cover;


}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 150px));
    justify-content: center;
    margin-bottom: 50px;
    height: 6vh;
    width: 100%;
    background: gray;
    outline: none;
    box-shadow: 0 1px 5px var(--shadow-white);

    .home {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .menu {
        grid-column: 2 / 3;
    }
}

nav > button {
    border: none;
    color: white;
    font-size: 1.5rem;
    background: gray;
}

.sticky {
    position: fixed;
    top: 0;
    background: gray;

    button {
        background: gray;
    }
}



#content {
    gap: 10px;
    margin-top: 20px;
    justify-items: center;

    .text {

        width: 400px;
        justify-self: center;
        height: 1200px;
    }

}







/* Menu styling */

.dishes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.outer {
    display: grid;
    grid-template-columns: minmax(1px, 400px) minmax(100px, 200px) ;
}

.img {
    height: 180px;
    width: 200px;
    background-image: url(/src/resorces/beef\'n_resto_tilted.png);
    background-size: contain;

}
