header {
    height: 60vh;
    justify-items: center;
    align-content: end;
    background-image: url(/src/resorces/sergey-kotenev-qXrrbHUzmkE-unsplash.jpg);
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 80px));
    justify-self: center;
    margin-bottom: 50px;
}

.sticky {
    position: fixed;
    top: 0;
}



#content {
    gap: 10px;
    margin-top: 20px;
    justify-items: center;

}




.text {

    width: 400px;
    justify-self: center;
    height: 1200px;
}
.home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    grid-column: 2 / 3;
}
