body{
    background-color: aqua;
    
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    
}

.introtuction {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}